<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto" package="my.closet.fashion.style" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://schemas.android.com/apk/res/android ">

    <uses-feature android:name="android.hardware.camera.any" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />



    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application android:name=".MyAppFont" android:allowBackup="true"
        android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true"
        android:supportsRtl="true">
        <activity android:name=".activities.PictureDeletingActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".activities.FullScreenViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.IntroScreen" android:label="@string/app_name"
            android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.PostFeedActivity" android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.UserProfileActivity"
            android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.FbGmailActivity" android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait" />

        <provider android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider" android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".Pic_info" android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EraserActivity" android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Crop" android:label="@string/screencrop"
            android:screenOrientation="portrait" android:theme="@style/AppTheme" />
        <activity android:name=".CustomView" android:label="@string/lookbook"
            android:screenOrientation="portrait" android:theme="@style/AppTheme" />
        <activity android:name=".ZoomImage" android:label="@string/lookbook"
            android:theme="@style/AppTheme" />

        <meta-data android:name="io.fabric.ApiKey"
            android:value="d227b0c8f4b74d9c68fa33a37097e9805e6964e2" />

        <service android:name=".firebaseservices.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebaseservices.MyFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".ScreenShotService" />
    </application>

</manifest>